<div>
    <footer class="page-footer font-small unique-color-dark pt-4" style="margin-top: 5px">

        <div class="container" style="text-align: center">
            <a class="git-ic" href="https://github.com/ansgohar/IBMCallForCodeTeamI"><i style="margin-bottom: 10px"
                    class="fab fa-github fa-2x"></i></a>
        </div>

        <div class="footer-copyright text-center py-3">&copy; 2018 Copyright:
            <a href="https://github.com/ansgohar/IBMCallForCodeTeamI"> Survival Network</a>
        </div>

    </footer>
</div>